body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #EDF2F0;
}

.site-container {
 min-height: 100%; /* Минимальная высота равна 100% */
  display: flex;
 flex-direction: column; /* Колонный флекс */
 justify-content: space-between; /* Распределение пространства */
 }

.background-container {
  background-image: url("./assets/pictures/headerbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0px; /* Добавил отступ снизу */
}
.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.logo-container img {
  display: flex;
  width: 230px;
}
.navigation {
  display: flex;
  margin: 25px 25px;
  text-decoration: none;
}
.navigation a {
  display: flex;
  text-decoration: none;
  color: #1576bd;
  margin-right: 10px;
  font-size: 25px;
  padding: 20px;
}

.no-underline, .no-underline:hover, .no-underline:visited {
 text-decoration: none;
 display: flex;
 font-size: 24px;
 color: #1576bd;
 white-space: nowrap;
 }

.contact-icons {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
}
.icon-links {
  display: flex;
  margin-right: 10px;
  align-items: center;
  
}
.icon-links img {
  width: 27px;
  height: 27px;
  margin-right: 20px;
}
.container {
  padding-top: 20px;
  display: flex;
  background-color: transparent;
  font-size: 30px;
  padding: 0 10px; /* Верх и низ без отступов, слева и справа 20px */
}
.text-section {
  width: 50%; /* Задаем ширину текстового блока */
  padding: 40px;
  color: #1572c2;
}
.text-section h1 {
  font-size: 30px; /* Увеличенный размер для заголовка */
  text-transform: uppercase; /* Преобразование текста в верхний регистр */
}
.text-section h2 {
  font-size: 20px; /* Увеличенный размер для заголовка */
  text-transform: uppercase; /* Преобразование текста в верхний регистр */
} 

.text-section p {
  padding: 40px;
  margin: 0;
  padding: 0;
}

.text-section p1 {
  padding: 40px;
  margin: 0;
  padding: 0;
}

.text-section p, .text-section p1 {
  padding-bottom: 20px;
  font-size: larger;
}

.image-section {
  width: 80%; /* Задаем ширину блока с изображением */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px; /* Отодвигаем изображение вниз*/
  margin-right: 100px;
}
.image-section img {
  max-width: 60%; /* Уменьшаем изображение, чтобы оно не выходило за пределы своего блока */
  height: auto;
  border-radius: 10px; /* Добавление закругленных углов */
}
.button-container {
  text-align: center; /* Выравниваем кнопку по центру */
  padding: 20px; /* Добавляем отступ сверху и снизу для кнопки */
}
.free-lesson-button {
  background-color: #fbdd29;
  color: #1576bd;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 40px;
  display: inline-block; /* Для центрирования кнопки */
  font-size: 30px;
}
.footer {
  background-color: #1572c2;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .icon-links {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}
.footer .icon-links img {
  width: 28px;
  height: 28px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

/* Стили для больших экранов */
@media (min-width: 1024px) {
  .hamburger {
    display: none; /* Скрытие бургер-меню */
  }
  .header {
    display: flex;
    justify-content: space-between; /* Возврат к базовому расположению элементов */
  }
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 25px;
  }
  .navigation a {
    text-decoration: none;
    color: #1576bd;
    margin-right: 10px;
    font-size: 25px;
    padding: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header {
    background-size: 100% 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    align-items: center;
  }

  .navigation, .header-contacts {
    display: none; /* Скрытие элементов */
  }

  .contact-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .icon-links {
    display: flex;
    justify-content: center;
  }

  .icon-links a {
    align-items: center;
  }

  .no-underline {
    margin-top: 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 40px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }

  .hamburger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1576bd;
    border-radius: 2px;
    transition: all 0.3s linear;
  }

  .hamburger span:nth-child(1) {
    top: 0;
  }

  .hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .hamburger span:nth-child(3) {
    bottom: 0;
  }

  .hamburger.active {
    border-radius: 50%;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(11px) rotate(135deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-11px) rotate(-135deg);
  }

  .navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: all 0.5s ease;
    transform: scale(0);
    transform-origin: top right;
    z-index: 1000;
  }

  .navigation.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1);
  }
}